<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Growtopia Login</title>
    <style>
        html, body {
            margin: 0;
            padding: 0;
            height: 100%;
        }
        iframe {
            width: 100%;
            height: 100%;
            border: none;
        }
    </style>
</head>
<body>
    <iframe id="loginFrame"></iframe>

    <script>
        let token = "%2B1zkwrzHTFGq8grRoRgc2nJfyvZU0Rrbsxo4q5unP3msFIxOHOtprinsJrmyRAJlCCi9FMO7WP8WY9eTbU6UDqoTXdR%2BB%2FFkJwDmEzyJh%2FAkAPAGxooNHTr70Ar7zqOBCaHFznBNc6SCtkSv88ar0VD%2BheRZnTNTD4TkAUMNvF1BQzSNOqmSAPH08nlwRvLSFDmW2oZqKfGJlUw3yK7QS9at7v6UG5a%2FzOjrpMNFzV4aoB85u6sxPC10MopA0TDNDUE03CsLf3rO%2BLtu1yFiQ8k6qL0URiKZj9piJPbiu1A7iRchz8EoK7edMfZyrdcDqiJumy1aNVKdiwgC3ADukWGMRamQVXYFpafaCANp2vpa2SeZwVzXXtFXqwbunQhjw%2FdLBn8hNndG2Lgs2WcfMg7ymAXpEVZ79FIGF7V9Bekoe0i6YoNB%2FeIAqhvTlz3bpNgpVZRwv6x16glR%2FTvwl70hrCGJtutjTYIcuRocK2dFVr2fqYE%2FsHtChUl3Xra%2FiAN5yaFBMNIXb0XTnCZdpBpQ%2F4eyAbJewtEH79G6ZNk%3D"; 
        let loginUrl = "https://login.growtopiagame.com/player/growid/login?token=" + token;

        // langsung set iframe src
        document.getElementById("loginFrame").src = loginUrl;
    </script>
</body>
</html>
